SAP_ASHOST=
SAP_SYSNR=
SAP_CLIENT=
SAP_USER=
SAP_PASSWORD=
SAP_LANG=ES

SAP_SCRIPT_NAME=
SAP_OUTPUT_DIR=data/raw
SAP_ESTUDIO_EXCEL_PATH=/Users/alejandroalvear/Library/CloudStorage/OneDrive-Finning/SAP_Estudio/resiliencia_financiera_tesis_mafi.xlsx
